$transition-duration-base: 1s;

.home-transition-enter-active,
.home-transition-leave-active {
  transition-property: all;
  transition-duration: $transition-duration-base;
  transition-timing-function: ease-in-out;
}

.home-transition-enter,
.home-transition-leave-to {
  section::before {
    opacity: 0;
    transform: scaleX(200%);
    transition-duration: $transition-duration-base;
  }

  h1 {
    transform: translateY(-45%);
    opacity: 0;
    transition-duration: $transition-duration-base;
  }
}

.home-transition-enter-to {
  section::before {
    opacity: 1;
    transform: scaleX(100%);
    transition-duration: $transition-duration-base;
  }

  h1 {
    transform: translateY(0);
    opacity: 1;
    transition-duration: $transition-duration-base;
  }
}
