$base_duration: 1s;

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes reduceLeft {
  0% {
    transform: scaleX(200%);
  }
  100% {
    transform: scaleX(100%);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-45%);
  }
  100% {
    transform: translateY(0);
  }
}
