* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: $font-default;
}

body {
  overflow-x: hidden;
}

main.page {
  min-height: 100vh;
  width: 100vw;
  padding: 20px 11vw;
  overflow-y: scroll;

  p.content-text {
    font-size: 14px;
    line-height: 20px;
  }

  h1.title-card {
    font-size: 30px;
    font-weight: 800;
  }

  /* Grid */
  section.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "experience-card nav nav welcome-card"
      "photo social-card projects-card projects-card"
      "photo theme-card projects-card projects-card"
      "about-card about-card projects-card projects-card"
    ;

    .photo {
      grid-area: photo;
    }

    .logo {
      grid-area: simple;
    }
  
    .nav {
      grid-area: nav;
    }

    .second {
      grid-area: second;
      opacity: 0.4;
    }

    .advert {
      grid-area: advert;
    }
  }
}
