@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap');

@import 'variables';
@import 'layout';


main#main-container {
  * {
    transition: all 0.5s ease-in-out;
  }

  &.light-theme {
    .page {
      background-color: $light-page-background;
    }

    .card {
      background-color: $light-card-background;

      p, h1, h2, h3, h4, h5, span {
        color: $light-font-color;
      }
    }

    svg {
      stroke: $light-font-color !important;
    }

    div.switch {
      background-color: $light-page-background;

      div.slider {
        background-color: $light-card-background;
      }
    }
  }

  &.dark-theme {
    .page {
      background-color: $dark-page-background;
    }

    .card {
      background-color: $dark-card-background;

      p, h1, h2, h3, h4, h5, span {
        color: $dark-font-color;
      }
    }

    svg {
      stroke: $dark-font-color !important;
    }

    div.switch {
      background-color: $dark-page-background;

      div.slider {
        background-color: $dark-card-background;
      }
    }

  }
}
