$white-color: #ffffff;

// Light Theme
$light-card-background: #e9e9e9;
$light-font-color: #000000;
$light-page-background: #ffffff;

// Dark Theme
$dark-card-background: #1a1a1a;
$dark-font-color: #ffffff;
$dark-page-background: #000000;

$font-default: 'Inter', sans-serif;
